@font-face {
    font-family: "AlteHaasGrostekRegular";
    src: url(./fonts/AlteHaasGroteskRegular.ttf) format("truetype");
}

.play-btn {
  font-family: "AlteHaasGrostekRegular";
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #8858CF;
  background-color: #94B5C2;
  cursor: pointer;
  border: 4px solid;
  padding: 5px 10px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.play-btn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.div-play-btn{
  position: fixed;
  left: 50%;
  bottom: 10%;
  transform: translateX(-100px);
}

.logo{
  position: absolute;
  top: -35px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  width: 400px;
  height: 400px;
  max-width: 100%;
  height: auto;
}

img{
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

html{
  overflow: hidden;
  background-image: url("./images/background.png");
  background-position: center;
  background-attachment: fixed;
}

.tutorial{
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: max-content;
  height: 270px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.carrousel-tutorial{
  height: 100%;
}

.slide{
  flex-shrink: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
  animation: tutorial 12s infinite ease-in-out;
}

.slide-img{
  padding: 10px;
  height: 250px;
  width: 250px;
}

.slide-txt{
  padding: 10px;
  width: 250px;
  height: auto;
  font-family: "AlteHaasGrostekRegular";
  font-weight: bold;
  font-size: 24px;
  color: #8858CF;
  align-self: center;
}

@keyframes tutorial {
  0% {transform: translateY(0%);}
  10% {transform: translateY(0%);}
  20% {transform: translateY(0%);}
  30% {transform: translateY(-100%);}
  40% {transform: translateY(-100%);}
  50% {transform: translateY(-100%);}
  60% {transform: translateY(-100%);}
  70% {transform: translateY(-200%);}
  80% {transform: translateY(-200%);}
  90% {transform: translateY(-200%);}
  100% {transform: translateY(0%);}
}